<ion-grid>
  <ion-row>
    <ion-col class="col">
        <ion-row class="input-row">
          <ion-label class="input-label">Số CMND</ion-label>
          <ion-input class="input-box"></ion-input>
        </ion-row>

        <ion-row class="input-row">
          <ion-label class="input-label">Ngày cấp</ion-label>
          <ion-input class="input-box"></ion-input>
        </ion-row>

        <ion-row class="input-row">
          <ion-label class="input-label">Ngày hết hạn</ion-label>
          <ion-input class="input-box"></ion-input>
        </ion-row>

        <ion-row class="input-row last-row">
          <ion-label class="input-label">Nơi cấp</ion-label>
          <ion-input class="input-box"></ion-input>
        </ion-row>

        <ion-row class="input-row">
          <ion-label class="input-label">Số căn cước</ion-label>
          <ion-select class="input-box" interface="popover">
            <ion-select-option value="male">Nam</ion-select-option>
            <ion-select-option value="female">Nữ</ion-select-option>
          </ion-select>
        </ion-row>

        <ion-row class="input-row">
          <ion-label class="input-label">Ngày cấp</ion-label>
          <ion-select class="input-box" interface="popover">
            <ion-select-option value="VietNam">Việt Nam</ion-select-option>
            <ion-select-option value=Thailand>Thái Lan</ion-select-option>
          </ion-select>
        </ion-row>

        <ion-row class="input-row">
          <ion-label class="input-label">Ngày hết hạn</ion-label>
          <ion-select class="input-box" interface="popover">
            <ion-select-option>Kinh</ion-select-option>
            <ion-select-option>Người Hoa</ion-select-option>
          </ion-select>
        </ion-row>
    </ion-col>

    <ion-col class="col">
        <ion-row class="input-row">
          <ion-label class="input-label">Mã số thuế TNCN</ion-label>
          <ion-select class="input-box" interface="popover">
          </ion-select>
        </ion-row>

        <ion-row class="input-row">
          <ion-label class="input-label">Ngày đăng ký</ion-label>
          <ion-input class="input-box"></ion-input>
        </ion-row>

        <ion-row class="input-row">
          <ion-label class="input-label">Nơi đăng ký</ion-label>
          <ion-input class="input-box"></ion-input>
        </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>