<ion-grid>
  <ion-row>
    <ion-row class="input-row">
      <ion-item>
        <label>CMND, Căn cước & Mã số thuế TNCN</label>
      </ion-item>
    </ion-row>
  </ion-row>

  <ion-row>
    <ion-col class="col">
      <ion-row class="input-row">
        <ion-label class="input-label">Số CMND</ion-label>
        <ion-input class="input-box" #identityCardNumber (ionChange)="userInput(identityCardNumber)" name="identityCardNumber"></ion-input>
      </ion-row>

      <ion-row class="input-row">
        <ion-label class="input-label">Ngày cấp</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" class="input-box" #identityCardDate (ionChange)="userInput(identityCardDate)" name="identityCardDate"></ion-datetime>
      </ion-row>

      <ion-row class="input-row">
        <ion-label class="input-label">Ngày hết hạn</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" class="input-box" #expireIdentityCardDate (ionChange)="userInput(expireIdentityCardDate)" name="expireIdentityCardDate" (ionFocus)="displayFutureYear(expireIdentityCardDate)"></ion-datetime>
      </ion-row>

      <ion-row class="input-row last-row">
        <ion-label class="input-label">Nơi cấp</ion-label>
        <ion-input class="input-box" #identityCardIssueBy (ionChange)="userInput(identityCardIssueBy)" name="identityCardIssueBy"></ion-input>
      </ion-row>

      <ion-row class="input-row">
        <ion-label class="input-label">Số căn cước</ion-label>
        <ion-input class="input-box" #identityNumber (ionChange)="userInput(identityNumber)" name="identityNumber"></ion-input>
      </ion-row>

      <ion-row class="input-row">
        <ion-label class="input-label">Ngày cấp</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" class="input-box" #identityDate (ionChange)="userInput(identityDate)" name="identityDate"></ion-datetime>
      </ion-row>

      <ion-row class="input-row">
        <ion-label class="input-label">Ngày hết hạn</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" class="input-box" #expireIdentityDate (ionChange)="userInput(expireIdentityDate)" name="expireIdentityDate" (ionFocus)="displayFutureYear(expireIdentityDate)"></ion-datetime>
      </ion-row>
    </ion-col>

    <ion-col class="col">
      <ion-row class="input-row">
        <ion-label class="input-label">Mã số thuế TNCN</ion-label>
        <ion-input class="input-box" #taxNumber (ionChange)="userInput(taxNumber)" name="taxNumber"></ion-input>
      </ion-row>

      <ion-row class="input-row">
        <ion-label class="input-label">Ngày đăng ký</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" class="input-box"  #registrationDate (ionChange)="userInput(registrationDate)" name="registrationDate"></ion-datetime>
      </ion-row>

      <ion-row class="input-row">
        <ion-label class="input-label">Nơi đăng ký</ion-label>
        <ion-input class="input-box" #registrationPlace (ionChange)="userInput(registrationPlace)" name="registrationPlace"></ion-input>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-row class="input-row">
      <ion-item>
        <label>Hộ chiếu, Thị thực</label>
      </ion-item>
    </ion-row>
  </ion-row>

  <ion-row>
    <ion-col class="col">
      <ion-row class="input-row">
        <ion-label class="input-label">Số hộ chiếu</ion-label>
        <ion-input class="input-box" #passportNumber (ionChange)="userInput(passportNumber)" name="passportNumber"></ion-input>
      </ion-row>
  
      <ion-row class="input-row last-row">
        <ion-label class="input-label">Ngày cấp</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" class="input-box" #passportDate (ionChange)="userInput(passportDate)" name="passportDate"></ion-datetime>
      </ion-row>
  
      <ion-row class="input-row">
        <ion-label class="input-label">Ngày hết hạn</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" class="input-box" #expiredPassportDate (ionChange)="userInput(expiredPassportDate)" name="expiredPassportDate" (ionFocus)="displayFutureYear(expiredPassportDate)"></ion-datetime>
      </ion-row>
  
      <ion-row class="input-row">
        <ion-label class="input-label">Nơi cấp</ion-label>
        <ion-input class="input-box" #visaIssuedBy (ionChange)="userInput(visaIssuedBy)" name="visaIssuedBy"></ion-input>
      </ion-row>
  
      <ion-row class="input-row">
        <ion-label class="input-label">Loại hộ chiếu</ion-label>
        <ion-input class="input-box" #passportType (ionChange)="userInput(passportType)" name="passportType"></ion-input>
      </ion-row>
    </ion-col>

    <ion-col class="col">
      <ion-row class="input-row">
        <ion-label class="input-label">Số thị thực</ion-label>
        <ion-input class="input-box" #visaNumber (ionChange)="userInput(visaNumber)" name="visaNumber"></ion-input>
      </ion-row>
  
      <ion-row class="input-row last-row">
        <ion-label class="input-label">Ngày cấp</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" class="input-box" #visaDate (ionChange)="userInput(visaDate)" name="visaDate"></ion-datetime>
      </ion-row>
  
      <ion-row class="input-row">
        <ion-label class="input-label">Ngày hết hạn</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" class="input-box" #expiredVisaDate (ionChange)="userInput(expiredVisaDate)" name="expiredVisaDate"></ion-datetime>
      </ion-row>
  
      <ion-row class="input-row">
        <ion-label class="input-label">Quốc gia cấp</ion-label>
        <ion-input class="input-box" #nation (ionChange)="userInput(nation)" name="nation"></ion-input>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>