<ion-grid>
  <ion-row>
    <ion-col class="col">
      <ion-row class="input-row">
        <ion-label class="input-label">Địa chỉ thường trú</ion-label>
        <ion-textarea rows="5" class="input-box"></ion-textarea>
      </ion-row>

      <ion-row class="input-row">
        <ion-label class="input-label">Ghi chú</ion-label>
        <ion-textarea rows="5" class="input-box"></ion-textarea>
      </ion-row>
    </ion-col>

    <ion-col class="col">
      <ion-row class="input-row">
        <ion-label class="input-label">Địa chỉ tạm trú</ion-label>
        <ion-textarea rows="5" class="input-box"></ion-textarea>
      </ion-row>

      <ion-row class="input-row">
        <ion-label class="input-label">Địa chỉ nhà riêng</ion-label>
        <ion-textarea rows="5" class="input-box"></ion-textarea>
      </ion-row>

      <ion-row class="input-row">
        <ion-label class="input-label">Ghi chú</ion-label>
        <ion-textarea rows="5" class="input-box"></ion-textarea>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>