<ion-content>
  <ion-infinite-scroll>
    <ion-grid>
      <ion-row class="test">
        <ion-item class="test">
          <label>1. Thông tin cơ bản</label>
        </ion-item>

        <app-basic-info class="test"></app-basic-info>
      </ion-row>
      <ion-row class="test">
        <ion-item class="test">
          <label>2. Thông tin chứng thực và thuế TNCN</label>
        </ion-item>

        <app-advance-info class="test"></app-advance-info>
      </ion-row>
      <ion-row class="test">
        <ion-item class="test">
          <label>3. Địa chỉ cư trú</label>
        </ion-item>

        <app-address class="test"></app-address>
      </ion-row>
    </ion-grid>
  </ion-infinite-scroll>
</ion-content>